#app4 {}

@keyframes change {
    0% {
        background-color: red;
    }
    100% {
        background-color: blue;
    }
}

#app4 .circle {
    width: 10vw;
    height: 10vw;
    background-color: red;
    border-radius: 50%;
}

#app4 .circle.active {
    animation: change 1s infinite alternate linear;
}